[Desktop Entry]
Type=Application
Exec=/usr/bin/xerolinux_rollback
Path=/usr/bin
Comment=Xerolinux Rollback Utility
Icon=/usr/share/icons/hicolor/48x48/apps/xerolinux-logo_icon.png
Categories=System;
Name=xerolinux_rollback
